@import "tailwindcss";
/* * {
  font-family: "Supermarket";
  src: url("/fonts/Supermarket.ttf");

} */

/* hover */
.hover-img-eng:hover {
  content: url("/images/SOne_index_iconeng.jpg");
}
.hover-img-menu:hover {
  content: url("/images/SOne_index_menu02.png");
}
.hover-img-facebook:hover {
  content: url("/images/SOne_index_btfacebook1.png");
}
.hover-img-twitter:hover {
  content: url("/images/SOne_index_bttwitter1.png");
}
.hover-img-youtube:hover {
  content: url("/images/SOne_index_btyoutube1.png");
}

.hover-img-break:hover {
  content: url("/images/SOne_index_bt-break1.jpg");
}
.hover-img-chokeup:hover {
  content: url("/images/SOne_index_bt-chokeup1.jpg");
}
.hover-img-guarantee:hover {
  content: url("/images/SOne_index_bt-guarantee1.jpg");
}
.hover-img-oil:hover {
  content: url("/images/SOne_index_bt-oil1.jpg");
}
.hover-img-tire:hover {
  content: url("/images/SOne_index_bt-tire1.jpg");
}
.hover-img-battery:hover {
  content: url("/images/SOne_index_bt-battery1.jpg");
}
.hover-img-dotlink:hover {
  content: url("/images/SOne_index_bullet1.png");
}


